main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #d27979;
    font-weight: bold;
    font-size: .9em;
    height: 60px;
}
.alturaminima{
    height: 322px;
    margin-bottom: 20px;
}

.alturaminima2{
    height: 290px;
  
   
}
.alturacruds{
    height:410px; 
    
}
.fondo{
    
   background-color: #ffffff ;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
   
}


.footer > .container {
    
    color: #000;
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

 .imageneshome {
    display: flex;
    justify-content: center;
    
 }
.my-navbar {
    background-color: #d27979;
    font-weight: bold;
}
.imageneshome {
    display: flex;
    justify-content: center;
 }

 .carruseltamaño{ 
    width: 100%;
    height: 100%;   
 }
 
 .infocarrusel{
     text-align: center;
     width: 20px;
 }
 .centrarp{
      margin: 100px;   
 }
 
 .titulo{   
     text-align: center;
 }
 
 .texto{    
     text-align: justify;    
 }
 .imgjust{
     
     text-align: right;
     margin:100px 100px 10px 20px;
     
 }

 div.polaroid {
  width:100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.contenedor {
  text-align: right;
  padding: 20px 20px;
}

.solucioncontent{
    margin-top: 7%;
    
}

.anchotarjetas{
    
  
    width :600px;
}

.negrita{
    
    font-weight:bold ;
}

.centrartarjeta{
    text-align: left;
    padding-top: 25px;
 
}

.margenesimagen{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
   padding-right: 1px;  
    
}
.margenestexto{
   margin-top: 5px;
   margin-left: 15px;
   margin-bottom: 5px;
   margin-right: 1px;  
    
}

.margenboton{
    
    margin-top:20px;
}
.colorboton{
    background-color: #d27979;
    font-weight: bold;
    
}
.alinearlogo{
    text-align: right;

   
}
#colorlink{
   color:#000; 
    
}


.carousel-control-next-icon, .carousel-control-prev-icon{
    
  filter: invert(108%);
}

.carousel-indicators{
     filter: invert(108%);
    
}

.separacionboton{
    width:88%;
    margin-top: 4px;
    
}

.corregirModal{
    
    padding-bottom: 19px;
    
}

.lineavertical{
     padding-bottom: 5px;
     padding-left: 5px;
     height: 25px;
     border-left: 1px solid #000;
     
     
}
